/* Ini CSS */

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .topnav {
        flex-direction: column;
    }

    .nav-item {
        width: 100px;
        flex-direction: column;
        display: flex;
    }

    .logo-icon {
        margin-bottom: 14px;
    }
}

.topnav {
    overflow: show;
    background-color: black;
    padding: 0px;
    font-family: Arial;
}

.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 30px 30px;
    text-decoration: none;
    border-radius:15%
}

.topnav a:hover {
    background-color: rgb(172, 171, 171);
    color: white;
}

.topnav a.active {
    background-color: blue;
    color: red;
}

.logo-icon {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    padding: 0px 10px
}

nav > section {
    display: flex;
    align-items: center;
}

.hal-home {
    text-align: center;
}

.text-pertama, .hal-sosmed, .hal-donasi, .form-laporan {
    color: white;
    display: flex;
    flex-direction: column;
}

body {
    background-color: black;
    border-style: none;

}

.bg-image {
    background-color: black;
    background-repeat: no-repeat;
    background-size: 1400px;
    filter: blur(10%);
    background-position: center center;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.banner-container {
    height: 450px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-table {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.label {
    display: flex;
    width: 100px;
}

.hal-laporan {
    align-items: center;
    color: white;
    align-content: center;
    text-align: center;
}


@media only screen and (max-width: 480px) {
    .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}